* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0px;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
}

body {
  background-image: linear-gradient(20deg, #330867, #30cfd0);
  width: 100dvw;
  height: 100dvh;
  min-height: 100dvh;
  overflow-x: hidden;
}


h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 1.75rem;
}

input {
  height: 2rem;
  width: 16rem;
  padding-left: 1rem;
  border-radius: 4px;
  color: #121212;
}

input::placeholder{
  color: rgb(0 0 0 / 0.7);
}

nav {
  background-color: #121212;
  width: 100dvw;
  padding: 1rem 1.8rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav__profile-bt {
  background-color: #30cfd0;
  width: 2.4rem;
  height: 2.4rem;
  border: 2px solid #fff;
  border-radius: 100%;
  font-size: 1rem;
  font-weight: 500;
}

main {
  display: flex;
  justify-content: end;
}

.main__sign-container {
  background-color: #1a1a1a;
  width: 40dvw;
  min-width: 40dvw;
  height: 100dvh;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.main__sign-form {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.sign__container {
  margin-bottom: 1rem;
}

.button__submit{
  background-color: #30cfd0;
  width: 16rem;
  height: 2rem;
  border-radius: 4px;
  text-align: center;
  transition: all ease-in-out 0.05s;
}

.button__submit:hover {
  cursor: pointer;
  transform: translateY(-0.75px);
  transition: all ease-in-out 0.05s;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.button__submit:active {
  transform: translateY(0px);
}


@media only screen and (min-width: 0px) and (max-width: 640px) {

  h2 {
    font-size: 1.8rem;
  }

  nav {
    width: 100dvw;
    padding: 1rem 2rem;
  }
  .nav__profile-bt {
    background-color: #30cfd0;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100%;
    font-size: 0.9rem;
  }

  main {
    display: flex;
    justify-content: center;
  }

  .main__sign-container {
    background-color: #1a1a1a;
    width: 100dvw;
    min-width: 100dvw;
    height: 100dvh;
    min-height: 100dvh;
  }
}

@media only screen and (min-width: 641px) and (max-width: 768px){
  .main__sign-container {
    width: 50dvw;
    min-width: 50dvw;
  }

  main {
    display: flex;
    justify-content: end;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
  .main__sign-container {
    width: 50dvw;
    min-width: 50dvw;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px){
  .main__sign-container {
    width: 50dvw;
    min-width: 50dvw;
  }
}